<form id="register-form">
    <div>
        <label for="tb-register-username">Username:</label>
        <input type="text" id="tb-register-username" />
    </div>
    <div>
        <label for="tb-register-nickname">Nickname:</label>
        <input type="text" id="tb-register-nickname" />
    </div>
    <div>
        <label for="tb-register-password">Password:</label>
        <input type="password" id="tb-register-password" />
    </div>
    <div>
        <button id="btn-register">Register</button>
        <button id="btn-back">Back</button>
    </div>
</form>
