body {
    background-color: #808080;
}

body, ul, ol, li, div {
    margin: 0px;
    padding: 0px;
}

    div#map {
        margin: 30px auto;
        width: 800px;
        height: 500px;
        border: 2px solid black;
        overflow: visible !important;
    }

#left-arrow {
    position: absolute;
    left: -70px;
    top: 200px;
}

#right-arrow {
    position: absolute;
    right: -70px;
    top: 200px;
}

ol#navigation-bar {
    width: 800px;
    list-style-type: none;
    position: absolute;
    bottom: -65px;
}

    ol#navigation-bar > li {
        display: inline-block;
        padding: 5px;
        margin: 5px;
        border: 1px solid black;
        cursor: pointer;
    }

        ol#navigation-bar > li:hover {
            color: red;
            background-color: orange;
            border: 1px solid yellow;
            cursor: pointer;
        }

.info-window {
    font-family: Verdana;
}
