<form id="new-post">
    <div>
        <label for="tb-post-title">Title*</label>
    </div>
    <div>
        <input type="text" id="tb-post-title" />
    </div>
    <div>
        <label for="post-content-textarea">Content*</label>
    </div>
    <div>
        <textarea id="post-content-textarea">Content goes here...</textarea>
    </div>
    <div>
        <label for="tb-post-tags">Tags (separated by comma ',')</label>
    </div>
    <div>
        <input type="text" id="tb-post-tags" />
    </div>
    <div>
        <button id="btn-create-post">Create</button>
        <button id="btn-back">Back</button>
    </div>
    <div>* required</div>
</form>
