<form id="register">
    <div>
        <label for="tb-register-username">Username*</label>
    </div>
    <div>
        <input type="text" id="tb-register-username" />
    </div>
    <div>
        <label for="tb-register-password">Password*</label>
    </div>
    <div>
        <input type="password" id="tb-register-password" />
    </div>
    <div>
        <label for="tb-register-display-name">Display name</label>
    </div>
    <div>
        <input type="text" id="tb-register-display-name" />
    </div>
    <div>
        <label for="tb-register-email">Email</label>
    </div>
    <div>
        <input type="text" id="tb-register-email" />
    </div>
    <div>
        <button id="btn-register">Register</button>
        <button id="btn-back">Back</button>
    </div>
    <div>* required</div>
</form>
