body,
header,
nav div,
ul,
li,
a {
  margin: 0;
  padding: 0;
}
body {
  color: #000000;
  font-size: 16px;
  font-family: Arial;
  width: 1024px;
}
body nav {
  width: 910px;
  padding: 50px 0 105px 50px;
  background-image: linear-gradient(top, #002d44 0%, #77d1ff 100%);
  background-image: -o-linear-gradient(top, #002d44 0%, #77d1ff 100%);
  background-image: -moz-linear-gradient(top, #002d44 0%, #77d1ff 100%);
  background-image: -webkit-linear-gradient(top, #002d44 0%, #77d1ff 100%);
  background-image: -ms-linear-gradient(top, #002d44 0%, #77d1ff 100%);
}
body ul {
  list-style-type: none;
}
body ul > li {
  border-radius: 15px;
  display: inline-block;
  padding: 5px 11px;
  margin-right: 4px;
}
body ul > li:hover {
  background-image: linear-gradient(top, #085075 0%, #105b81 100%);
  background-image: -o-linear-gradient(top, #085075 0%, #105b81 100%);
  background-image: -moz-linear-gradient(top, #085075 0%, #105b81 100%);
  background-image: -webkit-linear-gradient(top, #085075 0%, #105b81 100%);
  background-image: -ms-linear-gradient(top, #085075 0%, #105b81 100%);
}
body ul > li.selected {
  background-image: linear-gradient(top, #143c50 0%, #27566e 100%);
  background-image: -o-linear-gradient(top, #143c50 0%, #27566e 100%);
  background-image: -moz-linear-gradient(top, #143c50 0%, #27566e 100%);
  background-image: -webkit-linear-gradient(top, #143c50 0%, #27566e 100%);
  background-image: -ms-linear-gradient(top, #143c50 0%, #27566e 100%);
}
body ul > li.selected > ul {
  display: block;
  position: absolute;
  top: 91px;
  left: 50px;
}
body ul > li.selected > ul li:hover {
  background: rgba(11, 80, 115, 0.7);
  position: relative;
  border-radius: 15px;
}
body ul > li.selected > ul li:hover > ul {
  display: block;
  position: absolute;
  top: 43px;
  left: 0;
  width: 335px;
  padding: 15px 25px 10px 30px;
  background-image: linear-gradient(top, #fefeff 0%, #77d1ff 100%);
  background-image: -o-linear-gradient(top, #fefeff 0%, #77d1ff 100%);
  background-image: -moz-linear-gradient(top, #fefeff 0%, #77d1ff 100%);
  background-image: -webkit-linear-gradient(top, #fefeff 0%, #77d1ff 100%);
  background-image: -ms-linear-gradient(top, #fefeff 0%, #77d1ff 100%);
  border: 0;
  border-radius: 15px;
}
body ul > li.selected > ul li:hover > ul li {
  padding: 5px 1px 5px 5px;
  display: block;
}
body ul > li > a {
  color: black;
  text-decoration: none;
  font-size: 2em;
}
body ul > li ul {
  display: none;
}
li li li {
  border-bottom: 1px solid black;
  border-radius: 0px;
}
li li li:last-of-type {
  border: 0;
}
